# Defold Protocol Buffer Text Files (https://github.com/github/linguist/issues/5091)
*.animationset linguist-language=JSON5 gitlab-language=protobuf
*.atlas linguist-language=JSON5 gitlab-language=protobuf
*.camera linguist-language=JSON5 gitlab-language=protobuf
*.collection linguist-language=JSON5 gitlab-language=protobuf
*.collectionfactory linguist-language=JSON5 gitlab-language=protobuf
*.collectionproxy linguist-language=JSON5 gitlab-language=protobuf
*.collisionobject linguist-language=JSON5 gitlab-language=protobuf
*.cubemap linguist-language=JSON5 gitlab-language=protobuf
*.display_profiles linguist-language=JSON5 gitlab-language=protobuf
*.factory linguist-language=JSON5 gitlab-language=protobuf
*.font linguist-language=JSON5 gitlab-language=protobuf
*.gamepads linguist-language=JSON5 gitlab-language=protobuf
*.go linguist-language=JSON5 gitlab-language=protobuf
*.gui linguist-language=JSON5 gitlab-language=protobuf
*.input_binding linguist-language=JSON5 gitlab-language=protobuf
*.label linguist-language=JSON5 gitlab-language=protobuf
*.material linguist-language=JSON5 gitlab-language=protobuf
*.mesh linguist-language=JSON5 gitlab-language=protobuf
*.model linguist-language=JSON5 gitlab-language=protobuf
*.particlefx linguist-language=JSON5 gitlab-language=protobuf
*.render linguist-language=JSON5 gitlab-language=protobuf
*.sound linguist-language=JSON5 gitlab-language=protobuf
*.sprite linguist-language=JSON5 gitlab-language=protobuf
*.spinemodel linguist-language=JSON5 gitlab-language=protobuf
*.spinescene linguist-language=JSON5 gitlab-language=protobuf
*.texture_profiles linguist-language=JSON5 gitlab-language=protobuf
*.tilemap linguist-language=JSON5 gitlab-language=protobuf
*.tilesource linguist-language=JSON5 gitlab-language=protobuf

# Defold JSON Files
*.buffer linguist-language=JSON gitlab-language=json

# Defold GLSL Shaders
*.fp text eol=lf linguist-language=GLSL gitlab-language=glsl
*.vp text eol=lf linguist-language=GLSL gitlab-language=glsl

# Defold Lua Files
*.editor_script text eol=lf linguist-language=Lua gitlab-language=lua
*.render_script text eol=lf linguist-language=Lua gitlab-language=lua
*.script text eol=lf linguist-language=Lua gitlab-language=lua
*.gui_script text eol=lf linguist-language=Lua gitlab-language=lua

# Defold Project Settings
*.project linguist-language=INI gitlab-language=ini

# EOL Settings
*.cpp text eol=lf
*.html text eol=lf
*.json text eol=lf
*.lua text eol=lf
*.md text eol=lf
*.yml text eol=lf
